<% layout('/layouts/boilarplate.ejs') -%>
<body>
    <div class="row mt-4">
        <div class="col-8 offset-2 "> 
            <h3>Edit Your Listing </h3>
            <form method="post" action="/listing/<%= listing._id %>?_method=PUT" novalidate class="needs-validation"> 
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" class="form-control" value="<%= listing.title %>" required />
                    <div class="invalid-feedback">Enter valid Title</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                    <div class="invalid-feedback">Enter valid Description</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="text" name="listing[image]" value="<%= listing.image %>" class="form-control" required />
                </div>
                <div class="row mb-3">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" name="listing[price]" value="<%= listing.price %>" class="form-control" required />
                        <div class="invalid-feedback">Enter valid Price</div>
                    </div>
                    <div class="col-md-8 ">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required />
                        <div class="invalid-feedback">Enter a Country Name</div>
                    </div>
                </div>
                <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required />
                        <div class="invalid-feedback">Enter valid Location</div>
                </div>
                <button class="btn edit-btn mt-3">EDIT</button>
                <br><br>
            </form>
        </div>
    </div>
</body>
